div
  h4 {{title}}

  div(ng-repeat="item in items")

    div.row
      div.col-md-8
        h3(ng-hide="type == 'contest'") {{item.name}}
        h3(ng-show="type == 'contest'") {{item.date}}

  div.row(ng-hide="type == 'contest'")
    form.col-md-8
      div.form-group
        input#inputjurisdictionname.form-control(ng-model="newInput",type="text",placeholder="{{type}} name")
      div.form-group
        button(type="button",ng-click="add[type](newInput)").btn.btn-primary
          text Add

  div.row(ng-show="type == 'contest'")
      form.col-md-8
        div.form-group
          input#inputjurisdictionname.form-control(ng-model="newInput",type="date")
        div.form-group
          button(type="button",ng-click="add[type](newInput)").btn.btn-primary
            text Add