div(ng-include='"components/navbar/navbar.html"')

div.container-fluid

  div
    h4 Jurisdictions

    div(ng-repeat="jury in jurisdictions")

      div.row
        div.col-md-8
          h3 {{jury.name}}

    div.row
      div.form-horizontal
        div.form-group
          div.col-md-8
            input#inputjurisdictionname.form-control(ng-model="newJurisdiction",type="text",placeholder="Jurisdiction name")
            button(type="button",ng-click="addJurisdiction()").btn.btn-primary
              text Add


  div.row
    div.col-md-1
      div(ng-repeat="district in jury.districts").col-md-7
        text {{district.name}}

  div.row
    div.col-md-8 
    div.col-md-4

  div.row
    div.col-md-8 
    div.col-md-4