div(ng-include='"components/navbar/navbar.html"')

div.container-fluid
  div(ch-form, items="jurisdictions", title="Jurisdictions", type="jurisdiction", add="add")
  div(ch-form, items="jurisdiction", title="Offices", type="office", add="add")