div(ng-include='"components/navbar/navbar.html"')

div.container-fluid

  div.row
    div(ng-repeat="jury in jurisdictions").col-md-8
      h3 {{jury.name}}

  //- div.form-horizontal
  //-   div.form-group
  //-     label.col-md-2.control-label(for="#inputjurisdictionname")
  //-     div.col-md-6
  //-       input#inputjurisdictionname.form-control(type="text",placeholder="Jurisdiction name")

  div.row
    div.col-md-8 
    div.col-md-4

  div.row
    div.col-md-8 
    div.col-md-4